.container,
.modal {
  box-sizing: border-box;
}

/* Modal styling */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  max-width: 910%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Styling for login form */
.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; /* Add this line */
    margin: 0 auto;
    margin-top: 10vh;
    background: #f0f0f0;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    max-width: 450px;
    width: 500%;
    min-width: 300px;
    justify-content: center;
  }
@media (max-width: 480px) {
  .inputs {
    flex-wrap: wrap;
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.text {
  color: #3c009d;
  font-size: 32px;
  font-weight: 700;
}

.underline {
  width: 50px;
  height: 4px;
  background: #3c009d;
  border-radius: 5px;
  margin: 10px auto;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  
}
@media (max-width: 480px) {
    .input {
      flex-basis: 100%;
    }
  
    .forgot-password {
      flex-basis: 100%;
    }
  }
.input img {
  width: 20px;
  height: 20px;
}

.input input {
  height: 40px;
  width: calc(100% - 40px   );
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 16px;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
  color: #797979;
  font-size: 16px;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit {
  padding: 10px 20px;
  background-color: #4c00b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover {
  background-color: #3c009d;
}

.gray {
  background: #eaeaea;
  color: #676767;
}
